@font-face{
    font-family:Poppins;
    src: url("./assets/Poppins/.trashed-1696413859-Poppins-Medium.ttf");
}
*{
font-family:Poppins;
}
body{
    margin:0;
    padding:0;
}
nav{
    position:absolute;
    height:10%;
    width:100%;
    display:flex;
    justify-content:space-between;
}
nav button,.card button{
    background-color:rgb(253, 165, 1);
    border-color:rgb(253, 165, 1);
    border-radius:1rem;
}
nav img{
    height:100%;
}
nav ul{
    width:10%;
    display:flex;
    justify-content:space-between;
    margin-right:20px;
}
.main{
    position:absolute;
    bottom:0;
    width:100%;
    height:70%;
    display:grid;
    gap:20px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}
.main .card{
    height:80%;
    border-radius:1rem;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
*/
}
.card img{
width:100%;
height:100%;
border-radius:10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card button:hover{
    box-shadow: rgba(253, 165, 1, 0.4) 0px 5px, rgba(253, 165, 1, 0.3) 0px 10px, rgba(253, 165, 1, 0.2) 0px 15px, rgba(253, 165, 1, 0.1) 0px 20px, rgba(253, 165, 1, 0.05) 0px 25px;
}
.card button{
    width:50%;
    border-radius:5px;
}
nav a{
    text-decoration:none;
    padding: 10px;
    text-align:center;
    color:black;
}
.active{
    padding: 10px;
    background-color:rgb(253, 165, 1);
    border-radius:10px;
    color:white;
}
.events{
    position: absolute;
    bottom:0;
}
.admin{
    position: absolute;
    bottom:0;
    height:90%;
    width:100%;
}
.admin img{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    height:15%;
    width: 8%;
    border-radius:10px;
    background-image:url('./assets/upload.png');
    background-size:cover;
}
.admin .form{
display:none;
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
}